{% extends 'main.html' %}
{% block title %}menus{% endblock title %}
{% block content %}
<style>
    .card-box{
        height: 150px;
        text-align: center;
    }
</style>
<div class="title pb-20">
    <h2 class="h3 mb-0">Menus</h2>
</div>
    
<div class="row pl-5 pr-5">
    <div class="col-sm-3">
        <div class="card-box  widget-style1 mb-20">
            <a href="{% url 'roles_view' %}" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
        <div class="card-box height-100-p widget-style1 mb-20">
            <a href="" class="btn btn-outline-secondary">Roles</a>
        </div>
    </div>
</div>
   
{% endblock content %}